*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: rgba(236, 218, 194, 0.8);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgba(95, 57, 22, 0.8);
  font-weight: 600;
  font-size: 1.2rem;
}

nav {
  background-color: #DABA9D;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
}

nav > img {
  width: 6rem;
}

nav > ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}

nav > a {
  color: rgba(142, 85, 32, 0.8);
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

header {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: rgba(95, 57, 22, 0.8);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

article {
  border : solid .2rem rgba(95, 57, 22, 0.8);
  border-radius: .7rem;
  background-color: rgb(218, 186, 157);
  color:  rgba(95, 57, 22, 0.8);
  padding: 1rem;
  line-height: 1.5;
}

.article-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

button {
  color: rgba(95, 57, 22, 0.8);
  border: solid .1rem rgba(95, 57, 22, 0.8);
  width: 5rem;
  font-weight: 700;
}

.up {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.heart {
  grid-column: 1 / 3;
  margin: auto;
}

.main-footer {
  background-color: #DABA9D;
  height: 3rem;
  width: 100%;
}

.main-footer > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
}

.main-footer > ul > li > a > img {
  width: 3rem;
}